{% extends "layout.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for item in page.menu %}
            {% if item.name == page.title %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}

    <h1> form : {{ page.title }} </h1>
    <form class="form-horizontal" role="form" method="post" action="{{ [page.settings.createResultItemUrl, page.objectName]|join }}">
        {% for fieldName, field in page.fields %}
            {% set fieldValue = '' %}
            {% include "fields/field.twig"%}
        {% endfor %}
        {% for field in page.embedFields %}
            {% include "fields/select.twig" %}
        {% endfor %}
        <div class="form-group text-right">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4 ">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
    </form>

{% endblock %}
