{% extends "layout.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for item in list.menu %}
            {% if item.name == list.objectName %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}
    {% for object in list.object %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ list.title | title }}</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <fieldset disabled>
                        {% for fieldName, field in list.fields %}
                            {% set fieldValue =  attribute(object, fieldName) %}
                            {% set created = false %}
                            {% include "fields/field.twig" %}
                        {% endfor %}
                        {% for field in list.embedFields %}
                            {% set fieldValue =  [] %}
                            {% set embedField = list.embeded %}
                            {% set fieldEmbed =  attribute(object, field.name) %}

                            {% for ief in fieldEmbed %}
                                {% set tpmVal = [attribute(ief, field.field)] %}
                                {% set fieldValue =  fieldValue|merge(tpmVal) %}
                            {% endfor %}
                            {% include "fields/select.twig" %}
                        {% endfor %}
                    </fieldset>
                    <div class="form-group text-right">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4 ">
                            <a href="{{ [list.settings.editItemUrl, list.objectName,'/',object.id]|join }}" class="btn btn-primary">Edit</a>
                            <a href="{{ [list.settings.deleteItemUrl, list.objectName,'/',object.id]|join }}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}

{% endblock %}