{% extends "layout.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for item in page.menu %}
            {% if item.name == page.title %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}

    {% for object in page.body %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ page.title | title }}</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <fieldset disabled>
                        {% for fieldName, field in page.fields %}
                            {% set fieldValue =  attribute(object, fieldName) %}
                            {% include "fields/field.twig" %}
                        {% endfor %}
                    </fieldset>
                    <div class="form-group text-right">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4 ">
                            <a href="{{ [page.settings.editItemUrl, page.objectName,'/',object.id]|join }}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}

{% endblock %}