{% extends "layout.twig" %}

{% block content %}
    <!-- Table -->
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        {% for fieldName, field in fields %}
                            <th>{{ fieldName }}</th>
                        {% endfor %}
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in body %}
                        <tr>
                            {% for fieldName, field in fields %}
                                <td>{{ attribute(object, fieldName) }}</td>
                            {% endfor %}
                            <td><a href="{{ object.link.self }}">Voir plus</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}