<div class="form-group">
    <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.name }} :</label>
    <div class="col-sm-10">
        <select multiple>
            {% for ef in embedField %}
                {% set item = attribute(ef, field.entity) %}
                {% for i in item %}
                    <option value="{{ attribute(i, field.field) }}">{{ attribute(i, field.field) }}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
</div>

